/* Palette 1
--------------*/
/*
#63afae green
#2d8bbe light blue
#034f89 dark blue
#674ea7 purple
#ff69b4 pink
*/

/* Palette 2
---------------*/
/*
#12111e Black
#243065 dark purple
#32a0d1 light blue
#9eedfa super light blue
#d6e6f3 blue white
*/

/* Import and include
----------------------------------*/

/* Global styles
-------------------------------------------------- */
body {
  background-color: #fffff7;
  font-family: 'Fira Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

/* Navbar
--------------------------------------------------*/
.navbar{
  background-color: #4183D7;
  border-color: #E7E7E7;
}
.navbar .navbar-brand {
    color: #fff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #fff;
}

/*Link*/
.navbar .navbar-nav > li > a {
    color: #fff;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar .collapse .navbar-collapse{
  color: #fff;
}

/* Header carousel
-------------------------------------------------- */
#myCarousel .carousel-item {
  background-color: #777;
}

#myCarousel .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
}

/* Norton-presentation
--------------------------------------------------*/
#norton-presentation .container {
    display: block;
}


/* Norton-characteristics
--------------------------------------------------*/
#norton-characteristics .container {
  display: block;
}

.arrow-image {
  display: block;
  height: 64px;
  width: 64px;
}

.arrow-container:hover .image{
  background-color: #fffff7;
}

/* Demos
--------------------------------------------------*/
#demos .container {
    display: block;
    background-color: #fff;
}

.demo-results table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.demo-results thead th {
    background-color: #4183D7;
    color: white;
}

.demo-results tbody td {
    background-color: #d4d6d6;
}

.demo-results tr td:first-child,
tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.demo-results tr td:last-child,
tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* Footer
--------------------------------------------------*/
#contact {
  background-image: url("footer_lapaz.jpg");
}

#contact .container {
    display: block;
}

/* Media configuration (Responsive css)
-------------------------------------------------- */

/* Computer screen */
@media (max-width: 1920px) {
  h1 {
  font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .separator {
      height: 100px;
  }

  .separator-text {
      height: 40px;
  }

  .separator-contact {
      height: 350px;
  }

  /* Carousel header */
  #myCarousel .carousel-caption {
    bottom: 3rem;
  }

  #myCarousel .carousel-item {
    height: 61rem;
    background-color: #777;
  }

  #myCarousel .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 61rem;
  }

  /* Norton-presentation */
  #norton-presentation .container {
    display: block;
    max-width: 2100px;
    height: 970px;
    background-color: #fff;
  }

  /* Norton-characteristics */
  #norton-characteristics .container {
    display: block;
    height: 970px;
    max-width: 2100px;
    background-color: #333333;
  }

  /* Norton-pipeline */
  #norton-pipeline .carousel {
    margin-bottom: 3rem;
  }

  #norton-pipeline .carousel-caption {
    bottom: 20rem;
  }

  #norton-pipeline .carousel-item .norton-slider {
      padding: 10rem 10rem 10rem 50rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 10rem 10rem 10rem 70rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 10rem 10rem 10rem 60rem;
  }

  #norton-pipeline .carousel-item {
    height: 61rem;
    background-color: #d4d6d6;
  }

  #norton-pipeline .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 61rem;
  }

  /* Demos */
  #demos .container {
    display: block;
    height: 1940px;
    max-width: 2100px;
    background-color: #fff;
  }

  .demo-results table {
      border-collapse: separate;
      border-spacing: 0 5px;
  }

  .demo-results thead th {
      background-color: #4183D7;
      color: white;
  }

  .demo-results tbody td {
      background-color: #d4d6d6;
  }

  .demo-results tr td:first-child,
  tr th:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
  }

  .demo-results tr td:last-child,
  tr th:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
  }

  /* Footer */
  #contact {
    background-image: url("footer_lapaz.jpg");
  }

  #contact .container {
      display: block;
      height: 900px;
      max-width: 2100px;
  }
}

/* Mobile S 320x878 */
@media (min-width: 320px) {
  h1 {
  font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  .separator {
      height: 50px;
  }

  .separator-text {
      height: 20px;
  }

  .separator-contact {
      height: 50px;
  }

  /* Carousel header */
  #myCarousel .carousel-caption {
    bottom: 1rem;
  }

  #myCarousel .carousel-item {
    height: 24rem;
    background-color: #777;
  }

  #myCarousel .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 24rem;
  }

  /* Norton-presentation */
  #norton-presentation .container {
    display: block;
    max-width: 2100px;
    height: 950px;
    background-color: #fff;
  }

  /* Norton-characteristics */
  #norton-characteristics .container {
    display: block;
    height: 1230px;
    max-width: 2100px;
    background-color: #333333;
  }

  /* Norton-pipeline */
  #norton-pipeline .carousel {
    margin-bottom: 3rem;
  }

  #norton-pipeline .carousel-caption {
    bottom: 2rem;
  }

  ul, li {
      margin: 0;
      padding: 0;
      line-height: 50%;
  }

  #norton-pipeline .carousel-item .norton-slider {
      padding: 10rem 10rem 10rem 50rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 10rem 10rem 10rem 70rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 10rem 10rem 10rem 60rem;
  }

  #norton-pipeline .carousel-item {
    height: 36rem;
    background-color: #d4d6d6;
  }

  /* Images are disabled for this size */
  /*   #norton-pipeline .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 45rem;
  } */

  /* Demos */
  #demos .container {
    display: block;
    height: 1450px;
    max-width: 2100px;
    background-color: #fff;
  }

  .demo-results table {
      border-collapse: separate;
      border-spacing: 0 5px;
  }

  .demo-results thead th {
      background-color: #4183D7;
      color: white;
  }

  .demo-results tbody td {
      background-color: #d4d6d6;
  }

  .demo-results tr td:first-child,
  tr th:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
  }

  .demo-results tr td:last-child,
  tr th:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
  }

  /* Footer */
  #contact {
    background-image: url("footer_lapaz.jpg");
  }

  #contact .container {
      display: block;
      height: 600px;
      max-width: 2100px;
  }
}

/* Mobile M 375x878 */
@media (min-width: 375px) {
  h1 {
  font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  .separator {
      height: 50px;
  }

  .separator-text {
      height: 20px;
  }

  .separator-contact {
      height: 50px;
  }

  /* Carousel header */
  #myCarousel .carousel-caption {
    bottom: 1rem;
  }

  #myCarousel .carousel-item {
    height: 24rem;
    background-color: #777;
  }

  #myCarousel .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 24rem;
  }

  /* Norton-presentation */
  #norton-presentation .container {
    display: block;
    max-width: 2100px;
    height: 930px;
    background-color: #fff;
  }

  /* Norton-characteristics */
  #norton-characteristics .container {
    display: block;
    height: 1250px;
    max-width: 2100px;
    background-color: #333333;
  }

  /* Norton-pipeline */
  #norton-pipeline .carousel {
    margin-bottom: 3rem;
  }

  #norton-pipeline .carousel-caption {
    bottom: 2rem;
  }

  ul, li {
      margin: 0;
      padding: 0;
      line-height: 50%;
  }

  #norton-pipeline .carousel-item .norton-slider {
      padding: 10rem 10rem 10rem 50rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 10rem 10rem 10rem 70rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 10rem 10rem 10rem 60rem;
  }

  #norton-pipeline .carousel-item {
    height: 32rem;
    background-color: #d4d6d6;
  }

  /* Images are disabled for this size */
  /*   #norton-pipeline .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 45rem;
  } */

  /* Demos */
  #demos .container {
    display: block;
    height: 1550px;
    max-width: 2100px;
    background-color: #fff;
  }

  .demo-results table {
      border-collapse: separate;
      border-spacing: 0 5px;
  }

  .demo-results thead th {
      background-color: #4183D7;
      color: white;
  }

  .demo-results tbody td {
      background-color: #d4d6d6;
  }

  .demo-results tr td:first-child,
  tr th:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
  }

  .demo-results tr td:last-child,
  tr th:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
  }

  /* Footer */
  #contact {
    background-image: url("footer_lapaz.jpg");
  }

  #contact .container {
      display: block;
      height: 600px;
      max-width: 2100px;
  }
}

/* Mobile L 425x878 */
@media (min-width: 425px) {
  h1 {
  font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  .separator {
      height: 60px;
  }

  .separator-text {
      height: 40px;
  }

  .separator-contact {
      height: 50px;
  }

  /* Carousel header */
  #myCarousel .carousel-caption {
    bottom: 1rem;
  }

  #myCarousel .carousel-item {
    height: 36rem;
    background-color: #777;
  }

  #myCarousel .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 36rem;
  }

  /* Norton-presentation */
  #norton-presentation .container {
    display: block;
    max-width: 2100px;
    height: 1030px;
    background-color: #fff;
  }

  /* Norton-characteristics */
  #norton-characteristics .container {
    display: block;
    height: 1250px;
    max-width: 2100px;
    background-color: #333333;
  }

  /* Norton-pipeline */
  #norton-pipeline .carousel {
    margin-bottom: 3rem;
  }

  #norton-pipeline .carousel-caption {
    bottom: 2rem;
  }

  ul, li {
      margin: 0;
      padding: 0;
      line-height: 50%;
  }

  #norton-pipeline .carousel-item .norton-slider {
      padding: 10rem 10rem 10rem 50rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 10rem 10rem 10rem 70rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 10rem 10rem 10rem 60rem;
  }

  #norton-pipeline .carousel-item {
    height: 34rem;
    background-color: #d4d6d6;
  }

  /* Images are disabled for this size */
  /*   #norton-pipeline .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 45rem;
  } */

  /* Demos */
  #demos .container {
    display: block;
    height: 1750px;
    max-width: 2100px;
    background-color: #fff;
  }

  .demo-results table {
      border-collapse: separate;
      border-spacing: 0 5px;
  }

  .demo-results thead th {
      background-color: #4183D7;
      color: white;
  }

  .demo-results tbody td {
      background-color: #d4d6d6;
  }

  .demo-results tr td:first-child,
  tr th:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
  }

  .demo-results tr td:last-child,
  tr th:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
  }

  /* Footer */
  #contact {
    background-image: url("footer_lapaz.jpg");
  }

  #contact .container {
      display: block;
      height: 700px;
      max-width: 2100px;
  }
}

/* Mobile L 540x878 */
@media (min-width: 540px) {
  h1 {
  font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  .separator {
      height: 60px;
  }

  .separator-text {
      height: 40px;
  }

  .separator-contact {
      height: 100px;
  }

  /* Carousel header */
  #myCarousel .carousel-caption {
    bottom: 1rem;
  }

  #myCarousel .carousel-item {
    height: 36rem;
    background-color: #777;
  }

  #myCarousel .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 36rem;
  }

  /* Norton-presentation */
  #norton-presentation .container {
    display: block;
    max-width: 2100px;
    height: 1230px;
    background-color: #fff;
  }

  /* Norton-characteristics */
  #norton-characteristics .container {
    display: block;
    height: 1250px;
    max-width: 2100px;
    background-color: #333333;
  }

  /* Norton-pipeline */
  #norton-pipeline .carousel {
    margin-bottom: 3rem;
  }

  #norton-pipeline .carousel-caption {
    bottom: 2rem;
  }

  ul, li {
      margin: 0;
      padding: 0;
      line-height: 50%;
  }

  #norton-pipeline .carousel-item .norton-slider {
      padding: 10rem 10rem 10rem 50rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 10rem 10rem 10rem 70rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 10rem 10rem 10rem 60rem;
  }

  #norton-pipeline .carousel-item {
    height: 34rem;
    background-color: #d4d6d6;
  }

  /* Images are disabled for this size */
  /*   #norton-pipeline .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 45rem;
  } */

  /* Demos */
  #demos .container {
    display: block;
    height: 1850px;
    max-width: 2100px;
    background-color: #fff;
  }

  .demo-results table {
      border-collapse: separate;
      border-spacing: 0 5px;
  }

  .demo-results thead th {
      background-color: #4183D7;
      color: white;
  }

  .demo-results tbody td {
      background-color: #d4d6d6;
  }

  .demo-results tr td:first-child,
  tr th:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
  }

  .demo-results tr td:last-child,
  tr th:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
  }

  /* Footer */
  #contact {
    background-image: url("footer_lapaz.jpg");
  }

  #contact .container {
      display: block;
      height: 810px;
      max-width: 2100px;
  }
}

/* Mobile L 570x878 */
@media (min-width: 570px) {
  #demos .container {
    display: block;
    height: 1250px;
    max-width: 2100px;
    background-color: #fff;
  }
}

/* Tablet 768x878 */
@media (min-width: 768px) {
  h1 {
  font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .separator {
      height: 60px;
  }

  .separator-text {
      height: 30px;
  }

  .separator-contact {
      height: 200px;
  }

  /* Carousel header */
  #myCarousel .carousel-caption {
    bottom: 1rem;
  }

  #myCarousel .carousel-item {
    height: 36rem;
    background-color: #777;
  }

  #myCarousel .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 36rem;
  }

  /* Norton-presentation */
  #norton-presentation .container {
    display: block;
    max-width: 2100px;
    height: 830px;
    background-color: #fff;
  }

  /* Norton-characteristics */
  #norton-characteristics .container {
    display: block;
    height: 850px;
    max-width: 2100px;
    background-color: #333333;
  }

  /* Norton-pipeline */
  #norton-pipeline .carousel {
    margin-bottom: 3rem;
  }

  #norton-pipeline .carousel-caption {
    left: 4rem;
    bottom: 2rem;
  }

  ul, li {
      margin: 0;
      padding: 0;
      line-height: 20%;
  }

  #norton-pipeline .carousel-item .norton-slider {
      padding: 8rem 3rem 8rem 22rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 8rem 5rem 8rem 24rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 5rem 1rem 28rem 23rem;
  }

  #norton-pipeline .carousel-item {
    height: 34rem;
    background-color: #d4d6d6;
  }

  /* Images are disabled for this size */
    #norton-pipeline .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 34rem;
  }

  /* Demos */
  #demos .container {
    display: block;
    height: 1250px;
    max-width: 2100px;
    background-color: #fff;
  }

  .demo-results table {
      border-collapse: separate;
      border-spacing: 0 5px;
  }

  .demo-results thead th {
      background-color: #4183D7;
      color: white;
  }

  .demo-results tbody td {
      background-color: #d4d6d6;
  }

  .demo-results tr td:first-child,
  tr th:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
  }

  .demo-results tr td:last-child,
  tr th:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
  }

  /* Footer */
  #contact {
    background-image: url("footer_lapaz.jpg");
  }

  #contact .container {
      display: block;
      height: 700px;
      max-width: 2100px;
  }
}

/* Laptop 800x787 */
@media (min-width: 800px) {
  #norton-pipeline .carousel-item .norton-slider {
      padding: 8rem 3rem 8rem 25rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 8rem 5rem 6.5rem 28rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 5rem 1rem 28rem 26rem;
  }
}

/* Laptop 900x787 */
@media (min-width: 900px) {
  #norton-pipeline .carousel-item .norton-slider {
      padding: 8rem 3rem 8rem 29rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 8rem 5rem 6.5rem 32rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 5rem 1rem 28rem 30rem;
  }
}

/* Laptop 1000x787 */
@media (min-width: 1000px) {
  #norton-pipeline .carousel-item .norton-slider {
      padding: 8rem 3rem 8rem 32rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 8rem 5rem 6.5rem 34rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 5rem 1rem 28rem 32rem;
  }
}

/* Laptop 1024x787 */
@media (min-width: 1024px) {
  h1 {
      font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .separator {
      height: 60px;
  }

  .separator-text {
      height: 30px;
  }

  .separator-contact {
      height: 200px;
  }

  /* Carousel header */
  #myCarousel .carousel-caption {
    bottom: 1rem;
  }

  #myCarousel .carousel-item {
    height: 36rem;
    background-color: #777;
  }

  #myCarousel .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 36rem;
  }

  /* Norton-presentation */
  #norton-presentation .container {
    display: block;
    max-width: 2100px;
    height: 830px;
    background-color: #fff;
  }

  /* Norton-characteristics */
  #norton-characteristics .container {
    display: block;
    height: 890px;
    max-width: 2100px;
    background-color: #333333;
  }

  /* Norton-pipeline */
  #norton-pipeline .carousel {
    margin-bottom: 3rem;
  }

  #norton-pipeline .carousel-caption {
    bottom: 2rem;
  }

  ul, li {
      margin: 0;
      padding: 0;
      line-height: 20%;
  }

  #norton-pipeline .carousel-item .norton-slider {
      padding: 6rem 3rem 6rem 33rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 6rem 5rem 6rem 35rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 4rem 1rem 25rem 35rem;
  }

  #norton-pipeline .carousel-item {
    height: 38rem;
    background-color: #d4d6d6;
  }

  /* Images are disabled for this size */
    #norton-pipeline .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 38rem;
  }

  /* Demos */
  #demos .container {
    display: block;
    height: 1450px;
    max-width: 2100px;
    background-color: #fff;
  }

  .demo-results table {
      border-collapse: separate;
      border-spacing: 0 5px;
  }

  .demo-results thead th {
      background-color: #4183D7;
      color: white;
  }

  .demo-results tbody td {
      background-color: #d4d6d6;
  }

  .demo-results tr td:first-child,
  tr th:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
  }

  .demo-results tr td:last-child,
  tr th:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
  }

  /* Footer */
  #contact {
    background-image: url("footer_lapaz.jpg");
  }

  #contact .container {
      display: block;
      height: 700px;
      max-width: 2100px;
  }
}

/* Laptop 1200x787 */
@media (min-width: 1200px) {
  #norton-pipeline .carousel-item .norton-slider {
      padding: 7rem 3rem 7rem 36rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 6rem 5rem 6rem 42rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 4rem 1rem 24rem 42rem;
  }

  /* Demos */
  #demos .container {
    display: block;
    height: 1480px;
    max-width: 2100px;
    background-color: #fff;
  }
}

/* Laptop L 1280x878 */
@media (min-width: 1280px) {
  h1 {
      font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .separator {
      height: 60px;
  }

  .separator-text {
      height: 30px;
  }

  .separator-contact {
      height: 280px;
  }

  /* Carousel header */
  #myCarousel .carousel-caption {
    bottom: 1rem;
  }

  #myCarousel .carousel-item {
    height: 42rem;
    background-color: #777;
  }

  #myCarousel .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 42rem;
  }

  /* Norton-presentation */
  #norton-presentation .container {
    display: block;
    max-width: 2100px;
    height: 760px;
    background-color: #fff;
  }

  /* Norton-characteristics */
  #norton-characteristics .container {
    display: block;
    height: 870px;
    max-width: 2100px;
    background-color: #333333;
  }

  /* Norton-pipeline */
  #norton-pipeline .carousel {
    margin-bottom: 3rem;
  }

  #norton-pipeline .carousel-caption {
    bottom: 7rem;
  }

  ul, li {
      margin: 0;
      padding: 0;
      line-height: 20%;
  }

  #norton-pipeline .carousel-item .norton-slider {
      padding: 6rem 3rem 6rem 40rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 6rem 3rem 6rem 44rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 4rem 1rem 16rem 40rem;
  }

  #norton-pipeline .carousel-item {
    height: 46rem;
    background-color: #d4d6d6;
  }

  /* Images are disabled for this size */
    #norton-pipeline .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 46rem;
  }

  /* Demos */
  #demos .container {
    display: block;
    height: 1580px;
    max-width: 2100px;
    background-color: #fff;
  }

  .demo-results table {
      border-collapse: separate;
      border-spacing: 0 5px;
  }

  .demo-results thead th {
      background-color: #4183D7;
      color: white;
  }

  .demo-results tbody td {
      background-color: #d4d6d6;
  }

  .demo-results tr td:first-child,
  tr th:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
  }

  .demo-results tr td:last-child,
  tr th:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
  }

  /* Footer */
  #contact {
    background-image: url("footer_lapaz.jpg");
  }

  #contact .container {
      display: block;
      height: 800px;
      max-width: 2100px;
  }
}

/* Laptop 1300x787 */
@media (min-width: 1300px) {
  #norton-pipeline .carousel-item .norton-slider {
      padding: 7rem 3rem 7rem 40rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 6rem 5rem 6rem 48rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 4rem 1rem 15rem 44rem;
  }

  #norton-pipeline .carousel-caption {
    bottom: 8.5rem;
  }
}

/* Laptop 1300x787 */
@media (min-width: 1300px) {
  #demos .container {
    display: block;
    max-width: 2100px;
    height: 1650px;
    background-color: #fff;
  }
}


/* Laptop L 1600x878 */
@media (min-width: 1600px) {
  h1 {
      font-size: 46px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .separator {
      height: 60px;
  }

  .separator-text {
      height: 30px;
  }

  .separator-contact {
      height: 280px;
  }

  /* Carousel header */
  #myCarousel .carousel-caption {
    bottom: 1rem;
  }

  #myCarousel .carousel-item {
    height: 46rem;
    background-color: #777;
  }

  #myCarousel .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 46rem;
  }

  /* Norton-presentation */
  #norton-presentation .container {
    display: block;
    max-width: 2100px;
    height: 920px;
    background-color: #fff;
  }

  /* Norton-characteristics */
  #norton-characteristics .container {
    display: block;
    height: 870px;
    max-width: 2100px;
    background-color: #333333;
  }

  /* Norton-pipeline */
  #norton-pipeline .carousel {
    margin-bottom: 3rem;
  }

  #norton-pipeline .carousel-caption {
    left: 10rem;
    bottom: 8rem;
  }

  ul, li {
      margin: 0;
      padding: 0;
      line-height: 20%;
  }

  #norton-pipeline .carousel-item .norton-slider {
      padding: 4rem 10rem 4rem 40rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 4rem 10rem 4rem 51rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 3rem 8rem 15rem 50rem;
  }

  #norton-pipeline .carousel-item {
    height: 46rem;
    background-color: #d4d6d6;
  }

  /* Images are disabled for this size */
    #norton-pipeline .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 46rem;
  }

  /* Demos */
  #demos .container {
    display: block;
    height: 1780px;
    max-width: 2100px;
    background-color: #fff;
  }

  .demo-results table {
      border-collapse: separate;
      border-spacing: 0 5px;
  }

  .demo-results thead th {
      background-color: #4183D7;
      color: white;
  }

  .demo-results tbody td {
      background-color: #d4d6d6;
  }

  .demo-results tr td:first-child,
  tr th:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
  }

  .demo-results tr td:last-child,
  tr th:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
  }

  /* Footer */
  #contact {
    background-image: url("footer_lapaz.jpg");
  }

  #contact .container {
      display: block;
      height: 900px;
      max-width: 2100px;
  }
}

/* Laptop 1300x787 */
@media (min-width: 1700px) {
  #norton-pipeline .carousel-item .norton-slider {
      padding: 4rem 8rem 4rem 42rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 4rem 10rem 4rem 55rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 2rem 10rem 13rem 52rem;
  }

  #norton-pipeline .carousel-caption {
    bottom: 8.5rem;
  }
}

/* Laptop 1980x1254 */
@media (min-width: 1980px) {
  /* Norton-presentation */
  #norton-presentation .container {
    display: block;
    max-width: 2100px;
    height: 1050px;
    background-color: #fff;
  }
}

/* Laptop 4K 2560x1254 */
@media (min-width: 2560px) {
  h1 {
      font-size: 80px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }

  p {
    font-size: 32px;
  }

  .separator {
      height: 60px;
  }

  .separator-text {
      height: 30px;
  }

  .separator-contact {
      height: 400px;
  }

  /* Carousel header */
  #myCarousel .carousel-caption {
    bottom: 1rem;
  }

  #myCarousel .carousel-item {
    height: 62rem;
    background-color: #777;
  }

  #myCarousel .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 62rem;
  }

  /* Norton-presentation */
  #norton-presentation .container {
    display: block;
    max-width: 2100px;
    height: 1280px;
    background-color: #fff;
  }

  /* Norton-characteristics */
  #norton-characteristics .container {
    display: block;
    height: 890px;
    max-width: 2560px;
    background-color: #333333;
  }

  /* Norton-pipeline */
  #norton-pipeline .carousel {
    margin-bottom: 3rem;
  }

  #norton-pipeline .carousel-caption {
    bottom: 14rem;
  }

  ul, li {
      margin: 0;
      padding: 0;
      line-height: 20%;
  }

  #norton-pipeline .carousel-item .norton-slider {
      padding: 3rem 3rem 3rem 72rem;
  }

  #norton-pipeline .carousel-item .norton-diagram {
      padding: 6rem 3rem 6rem 82rem;
  }

  #norton-pipeline .carousel-item .norton-analysis {
      padding: 3rem 10rem 3rem 85rem;
  }

  #norton-pipeline .carousel-item {
    height: 62rem;
    background-color: #d4d6d6;
  }

  #norton-pipeline .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 62rem;
  }

  /* Demos */
  #demos .container {
    display: block;
    height: 2080px;
    max-width: 2100px;
    background-color: #fff;
  }

  .demo-results table {
      border-collapse: separate;
      border-spacing: 0 5px;
  }

  .demo-results thead th {
      background-color: #4183D7;
      color: white;
  }

  .demo-results tbody td {
      background-color: #d4d6d6;
  }

  .demo-results tr td:first-child,
  tr th:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
  }

  .demo-results tr td:last-child,
  tr th:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
  }

  /* Footer */
  #contact {
      background-image: url("footer_lapaz.jpg");
      width: 100%;
  }

  #contact .container {
      display: block;
      height: 1200px;
      max-width: 2100px;
  }
}
