/* Palette 1
--------------*/
/*
#63afae green
#2d8bbe light blue
#034f89 dark blue
#674ea7 purple
#ff69b4 pink
*/

/* Palette 2
---------------*/
/*
#12111e Black
#243065 dark purple
#32a0d1 light blue
#9eedfa super light blue
#d6e6f3 blue white
*/

/* Import and include 
----------------------------------*/

/* Global styles
-------------------------------------------------- */
body {
  background-color: #fffff7;
  font-family: 'Fira Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

/* Navbar
--------------------------------------------------*/
.navbar{
  background-color: #4183D7;
  border-color: #E7E7E7;
}
.navbar .navbar-brand {
    color: #fff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #fff;
}
 Link 
.navbar .navbar-nav > li > a {
    color: #fff;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar .collapse .navbar-collapse{
  color: #fff;
}

/* Header carousel
-------------------------------------------------- */
#myCarousel .carousel {
}

#myCarousel .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

#myCarousel .carousel-item {
  height: 58rem;
  background-color: #777;
}

#myCarousel .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  width: 120rem;
  height: 58rem;
}

/* Norton-characteristics
--------------------------------------------------*/
.arrow-image {
  display: block;
  height: 64px;
  width: 64px;
}

.arrow-container:hover .image{
  background-color: #fffff7;
}

/* Display carousel
-------------------------------------------------- */
#norton-pipeline .carousel {
  margin-bottom: 3rem;
}

#norton-pipeline .carousel-caption {
  bottom: 20rem;
  z-index: 10;
}

#norton-pipeline .carousel-item {
  height: 58rem;
  background-color: #d4d6d6;
}

#norton-pipeline .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 58rem;
}

/* Demo
--------------------------------------------------*/

.demo-results table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.demo-results thead th {
    background-color: #4183D7;
    color: white;
}

.demo-results tbody td {
    background-color: #d4d6d6;
}

.demo-results tr td:first-child,
tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.demo-results tr td:last-child,
tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* Footer
--------------------------------------------------*/
#contact {
  background-image: url("footer_lapaz.jpg");
}

/* Media configuration
-------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}