/* GLOBAL STYLES
-------------------------------------------------- */
body {
  background-color: #fffff7;
  font-family: 'Fira Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

/* NAVBAR
--------------------------------------------------*/
.navbar{
  background-color: #4183D7;
  border-color: #E7E7E7;
}
.navbar .navbar-brand {
    color: #fff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #fff;
}
 Link 
.navbar .navbar-nav > li > a {
    color: #fff;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar .collapse .navbar-collapse{
  color: #fff;
}

/* MAIN CAROUSEL
-------------------------------------------------- */
#myCarousel .carousel {
}

#myCarousel .carousel-caption {
  bottom: 20rem;
  z-index: 10;
}

#myCarousel .carousel-item {
  height: 58rem;
  background-color: #777;
}

#myCarousel .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  /*min-width: 100%;*/
  width: 120rem;
  height: 58rem;
}

/* Display carousel
-------------------------------------------------- */
#norton-pipeline .carousel {
  margin-bottom: 3rem;
}

#norton-pipeline .carousel-caption {
  bottom: 20rem;
  z-index: 10;
}

#norton-pipeline .carousel-item {
  height: 58rem;
  background-color: #777;
}

#norton-pipeline .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 80%;
  height: 92rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}