<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/webpage/favicon.ico">
    <title>Labomatic</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="jumbotron text-xs-center">
	  <h1 class="display-3">Thank You!</h1>
	  <p class="lead"><strong>We will contact you as soon as possible.</p>
	  <hr>
	  <p class="lead">
	    <!-- <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to homepage</a> -->
	    <form action="/thanks" method="post">
	    	{% csrf_token %}
				<input class="btn btn-primary btn-sm" type="submit" value="Go to the main page"/>
			</form>
	  </p>
	</div>
</body>
